Run Default
{{

    CircuitPath {circuit_path}
    nrnPath {nrn_path}
    MorphologyPath {morphology_path}
    MorphologyType {morphology_type}
    METypePath {metype_path}
    MEComboInfoFile {mecombo_file}
    CellLibraryFile circuit.mvd3

    CurrentDir {output_path}
    OutputRoot {output_path}
    TargetFile {target_file}

    CircuitTarget {target}
    RunMode LoadBalance
    RNGMode Random123
    BaseSeed {base_seed}
    Dt 0.025
    Duration {duration}

}}
