#!/bin/sh
#SBATCH --job-name={name}
#SBATCH --account=proj96
#SBATCH --partition=prod_p2
#SBATCH --cpus-per-task=2
#SBATCH --ntasks=2
#SBATCH --time={cpu_time}
#SBATCH --mem=15g
#SBATCH --no-requeue
#SBATCH --output=mld_{gid}.log
{qos}
source /gpfs/bbp.cscs.ch/project/proj96/home/ecker/plastyfire/plastyfire/setupenv.sh

python /gpfs/bbp.cscs.ch/project/proj96/home/ecker/plastyfire/plastyfire/impedancefinder.py {config} {gid}
